<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>

    {{ partial "header/icons.html" . }}

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container mx-auto p-4">
      <h1 class="text-3xl text-center">Spelling Review</h1>
      {{ range .Pages }}
      <a href="{{.Permalink}}" class="p-4 m-4 border rounded border-black shadow text-center block">
        <h3 class="text-xl">{{ .Title }}</h3>
        <div>
          {{range $i, $w := .Params.words}}{{if ne $i 0}} • {{end}}{{.val}}{{end}}
        </div>
        <div class="mt-2 text-sm text-gray-500 italic">
          {{.Date.Format "Jan 2 2006"}}
        </div>
      </a>
      {{ end }}
    </div>
  </body>
</html>

