<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ .Title }} &ndash; {{ .Site.Title }}</title>

    {{ partial "header/icons.html" . }}

		<link rel="stylesheet" href="../dist/reset.css">
		<link rel="stylesheet" href="../dist/reveal.css">
		<link rel="stylesheet" href="../dist/theme/sky.css" id="theme">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme">

		<style type="text/css">
		.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
			text-transform: none;
		}
		.container {
			display: flex;
		}
		.col {
			flex: 1;
		}
		</style>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>{{ .Title }}</h1>
					<h2>Spelling Review</h2>
					<p>{{ .Content }}</p>
					<p><a href="../">Click here to see other word lists.</a></p>
				</section>
				<section>
					<h2>Get Ready</h2>
					<p>These are the words we will review</p>
					<div class="container">
						<div class="col">
							<ol>
					{{ range $i, $w := .Params.words }}
								<li>{{ $w.val }}</li>
						{{ if eq $i 4 }}
							</ol>
						</div>
						<div class="col">
							<ol start="6">
						{{ end }}
					{{ end }}
							</ol>
						</div>
					</div>
				</section>
				{{ range .Params.words }}
				<section>
					<h1>🔊</h1>
					<audio data-autoplay data-src="{{.src}}"></audio>
					<h2 class="fragment">{{.val}}</h2>
				</section>
				{{ end }}
				<section>
					<h2>The End</h2>
					<div class="container">
						<div class="col">
							<ol>
					{{ range $i, $w := .Params.words }}
								<li>{{ $w.val }}</li>
						{{ if eq $i 4 }}
							</ol>
						</div>
						<div class="col">
							<ol start="6">
						{{ end }}
					{{ end }}
							</ol>
						</div>
					</div>
					<p><a href="#/0">Click here to go back to the beginning.</a></p>
					<p><a href="../">Click here to see other word lists.</a></p>
				</section>
			</div>
		</div>

		<script src="../dist/reveal.js"></script>
		<script src="../plugin/notes/notes.js"></script>
		<script src="../plugin/markdown/markdown.js"></script>
		<script src="../plugin/highlight/highlight.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
	</body>
</html>

